html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.switch {
  cursor: pointer;
  display: block;
  border: none;
  width: 40px;
  border-radius: 20px;
  margin: 4px 2px;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: white;
  user-select: none;
  background-color: #9d9d9d;
}

.switch:hover {
  background-color: #7a7a7a;
}

.switch.special-switch {
  width: fit-content;
  background-color: #789775;
}

.switch.special-switch:hover {
  background-color: #95ac95;
}

.switch.win-mode-switch {
  width: fit-content;
  background-color: #789775;
}

.switch.win-mode-switch:hover {
  background-color: #95ac95;
}

.switch.win-mode-switch .win-lose {
  display: inline-block;
  width: 35px;
  text-align: left;
}

.switch.difficulty-switch {
  width: 56px;
  background-color: #789775;
}

.switch.difficulty-switch:hover {
  background-color: #95ac95;
}

.input-container > button {
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 5px;
  margin: 4px 2px;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #3e6d3a;
}

.input-container > button:hover {
  background-color: #2b4b2c;
}

.status-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.game-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.game-container > button {
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 15px;
  margin: 20px 4px 2px 2px;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
}

.game-container > button:hover {
  background-color: #e3e2e2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.pile-inner {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border-radius: 15px;
}

.pile-inner:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.stone {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.stone-special {
  width: 60px;
  height: 60px;
  background-size: contain;
}

.stone-enabled {
  background-color: #212121;
}

.stone-enabled.stone-special {
  background-image: url("./images/wingkaihong.jpg");
}

.stone-disabled {
  background-color: #cfcfcf;
}

.stone-disabled.stone-special {
  background-image: url("./images/saohsuanlin.jpg");
}
